<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @question.question %>
</p>

<p>
  <strong>Answer 1:</strong>
  <%= @question.answer_1 %>
</p>

<p>
  <strong>Answer 2:</strong>
  <%= @question.answer_2 %>
</p>

<p>
  <strong>Answer 3:</strong>
  <%= @question.answer_3 %>
</p>

<p>
  <strong>Answer 4:</strong>
  <%= @question.answer_4 %>
</p>

<p>
  <strong>Answer 5:</strong>
  <%= @question.answer_5 %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %><br>
<%= link_to 'Back', questions_path %>
