<p id="notice"><%= notice %></p>

<p>
  Survey Name: <%= @survey.name %>
  <br>
  <tbody>
    <% i = 1 %>
      <% @questions.each do |question| %>
        <br>
        Question <% i %> - 
        <%= question.question %>

        <br>
        <%= radio_button_tag("question_#{question.id}", "a") %>
  	  <%= label_tag(:answer_1, question.answer_1) %>

  	  <br>
        <%= radio_button_tag("question_#{question.id}", "b") %>
        <%= label_tag(:answer_2, question.answer_2) %>

        <br>
        <%= radio_button_tag("question_#{question.id}", "c") %>
        <%= label_tag(:answer_3, question.answer_3) %>

        <br>
        <%= radio_button_tag("question_#{question.id}", "d") %>
        <%= label_tag(:answer_4t, question.answer_4) %>

        <br>
        <%= radio_button_tag("question_#{question.id}", "e") %>
        <%= label_tag(:answer_5, question.answer_5) %>

        <% i = i + 1 %>
        <br>
      <% end %>
  </tbody>
</p>

<% if @questions.length > 0 %>
  <%= form_tag(survey_save_survey_path(@survey.id)) do %>
  	<%= submit_tag "Submit Survey" %>
  <% end %>
<% end %>
<br>
<%= link_to 'Survey List', surveys_path %>
