<p id="notice"><%= notice %></p>

<p>
  <strong>Survey:</strong>
  <%= @test.survey.id %>
</p>

<p>
  <strong>Question:</strong>
  <%= @test.question.id %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
